.body{
    height: 100vh;
    background-color:#111111     ;
    overflow: hidden;
}
.content{
    
    margin-top: 55px;
    /* font-family: 'Droid Sans', sans-serif; */
}
.head{
    padding-top: 70px;
    padding-left: 70px;
    font-size: 70px;
}
.head{
    /* color: rgb(237, 100, 100) ; */
    color: #49494b;
}
.para{
    color: #ffffff ;
}
.content .para{
    padding-left: 70px;
    font-size:30px;
    padding-right: 10px;
}

/* .content .para p{ 
    margin-right: 70px;
} */

@media screen and (max-width:900px){
    .content{
    
        margin-top: 45px;
    }
    .head,.content .para{
        padding-left: 50px;
    }
    .head{
     
        font-size: 60px;
    }
}
@media screen and (max-width:700px){
    .content .para{
        font-size: 25px;
    }
}

@media screen and (max-width:600px){
    .head,.content .para{
        padding-left: 17px;
    }
}
@media screen and (max-width:350px){
    .content .para{
        font-size: 17px;
    }
}