.projects{
    height: 100vh;
    
    background-color:#111111;
    overflow: hidden;
}

.projects h1{

    color: #49494b;
    padding-top: 200px;
    padding-left: 200px;
    font-size: 70px;
}

@media screen and (max-width:800px){

    .projects h1{
        padding-top: 200px;
        padding-left: 50px;
        font-size: 45px;
    }   
}

@media screen and (max-width:600px){

    .projects h1{
        padding-top: 230px;
        padding-left: 20px; 
        font-size: 40px;
    }   
}
@media screen and (max-width:572px){

    .projects h1{

        font-size: 35px;
    }
}
@media screen and (max-width:522px){

    .projects h1{

        font-size: 30px;
    }
}
@media screen and (max-width:450px){

    .projects h1{
        text-align: center;
    
    }
}