.resume{
    width: 100%;
    margin-top: 250px;
    text-align: center;
    /* background-color:#111111;  */
    /* border: 2px #49494b solid; */
}

.resume a{
    font-size: 2rem;
    margin: auto;
    color: #49494b;
    text-decoration: none;
    border: 2px #49494b solid;
    padding: 30px;
}