.s{
    height: 100vh;
    
    background-color:#111111;
 ;
    overflow: hidden;
}
.align{
    margin: auto;
}
.skills{
    
    margin-top: 55px;
    
    /* padding-left:200px; */
    padding-top: 100px;
}
.skills .one{
    display: flex;
    margin-bottom: 50px;
}
.skills .two{
    display: flex;
}

.skills .one .one1  a{
    padding: 50px;
}
.skills .two .two1  a{
    padding: 50px;
}
.skills .one .one2 a{
    padding: 50px;
}
.skills .two .two2 a{
    padding: 50px;
}


@media screen and (max-width:500px){
.skills{
    padding-left:0px;
    padding-top: 100px;
    /* padding-right: 50px; */
}
}

@media screen and (max-width:400px){
    .skills{
        padding-left: 00px;
        padding-top: 100px;
        /* padding-right: 30px; */
        margin: auto;
    }
    .skills .one{
      
        margin-bottom: 0px;
    }
    }
    
@media screen and (max-width:400px){
    .skills{
        padding-top: 150px;
        /* padding-left: 10px; */
    }
    .skills .one{
      
        margin-bottom: 0px;
    }

    }

    @media screen and (max-width:350px){
        .skills .one .one1  a{
            padding:    35px;
        }
        .skills .one .one2  a{
            padding:    35px;
        }
        .skills .two .two1  a{
            padding:    35px;
        }
    }
